<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>  

    <div class="">
        <form method="POST" action="/users/create/dados">
        <input type="text" name="name" placeholder="Primeiro Nome" required>
        <input type="text" name="lastname" placeholder="Ultimo Nome" required>
        <input type="number" name="cpf" placeholder="CPF" required>
        <input type="date" name="birthday" placeholder="Aniversario" required>
        <input type="number" name="cep" placeholder="cep" required>
        <input type="number" name="numberhouse" placeholder="numero da casa" required>
        <input type="text" name="house" placeholder="Casa/Apartamento" required>
        <input type="text" name="addres" placeholder="Nome da rua" required>
        <input type="text" name="reference" placeholder="Referencia">
        <input type="number" name="tel" placeholder="numero do celular" required>
        <button>Cadastrar</button>
        </form>
    </div>
    
</body>
</html>