<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Culinarias</title>
</head>
<body>
    <form action="/cadastrar/cuisines/dados" method="post">
        <input type="text" name="name" placeholder="Nome" required>
        <input type="text" name="origin" id="origin" placeholder="Origem" required>
        <input type="text" name="img" placeholder="imagem" required>
        <button>Confirmar</button>
    </form>
</body>
</html>