<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <div class="">
        <form method="POST" action="/users/login">
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Senha" required>
        <button>Login</button>
        <a href="/cadastro">Cadastrar</a><br>
        <a href="/cadastrar/cuisines">Cadastrar Comidas</a><br>
        <a href="/cadastro/Chefs">Cadastrar Chefs</a><br>
        <a href="/cadastrar/cuisines-chefs">Vincular Chef com Culinaria</a><br>
        </form>
    </div>
    <br><br>
    <div class="">
        <form method="POST" action="/home/cep">
        <input type="number" name="cep" placeholder="cep" required>
        <input type="number" name="numero" placeholder="numero da casa">
        <button>testar</button>
        </form>
    </div>
</body>
</html>