<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs nas areas</title>
</head>
<body>
    <% lojasNoRaioDe10km.forEach(chefia => { %>
        <h1> Nome do chefe: <%= chefia.nome %></h1>
        <h1> Distacia: <%= chefia.distancia %></h1><br>
    <% }) %>
</body>
</html>