@tailwind base;
@tailwind components;
@tailwind utilities;

/* Firefox */
* {
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;

  width: 1px;
}

*::-webkit-scrollbar-track {
  
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {

  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f9f9f9;
  -webkit-font-smoothing: antialiesed;
}

body, input, textarea button{
  font: 400 1rem Poppins;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
}
